*{
    font-family: 'Comfortaa', cursive;
    box-sizing: border-box;
    scroll-behavior: smooth;

}
button:focus{
    outline: none !important;
}
.feather.active{
    fill: currentColor;
}
p{
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    word-break: break-all;

}

